/*TYPO*/
@font-face {
    font-family: 'Nevis Webfont';
    src: url('../nevis/nevis.eot');
    src: url('../nevis/nevis.eot?#iefix') format('embedded-opentype'),
         url('../nevis/nevis.woff') format('woff'),
         url('../nevis/nevis.ttf') format('truetype'),
         url('../nevis/nevis.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: "Nevis", "Arial", sans-serif;
}

/*STYLE HOME*/
.floor-1 h1{
	text-align: center;
	position: relative;
}

.floor-1 h2{
	text-align: center;
	position: relative;
	color:#b3b2b2;
	text-transform: none;
}

.floor-4 h2, .floor-5 h2, .floor-6 h2, .floor-7 h2, .floor-8 h2, .floor-9 h2, .floor-10 h2{
	text-transform: uppercase;
}

.floor-4 h3, .floor-5 h3, .floor-6 h3, .floor-7 h3, .floor-8 h3, .floor-9 h3, .floor-10 h3{
	color:rgba(255, 255, 255, 0.6);
}

#devant{
	line-height: 1.1em;
	color:#b3b2b2;
	z-index:2;
	margin-top:-2.9em;
}

#derriere{
	line-height: 1.1em;
	color:#fff;
	z-index:1;
	text-shadow: #b3b2b2 2px 2px, #b3b2b2 -2px 2px, #b3b2b2 -2px -2px, #b3b2b2 2px -2px;
	opacity: 0.7;
}

.catchphrase{
	top:78vh !important;
}

.cover{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	display: none;
}

#cbs{
	color:#1d70b7;
}



#cbsea{
	color:#39a935;
}



#cbh{
	color:#e95a0c;
}



/*STYLE NAVIGATION FLECHES*/
.floor-1 #top{
	display:none;
}

#top{
	background: url("../images/haut_gris.png") no-repeat center center;
	top:4%;
}


#top:hover{
	background: url("../images/haut_blanc.png") no-repeat center center;
}

#left{
	background: url("../images/gauche_gris.png") no-repeat center center;
	left:2%;
}

#left:hover{
	background: url("../images/gauche_blanc.png") no-repeat center center;
}


#right{
	background: url("../images/droite_gris.png") no-repeat center center;
	left:98%;
}

#right:hover{
	background: url("../images/droite_blanc.png") no-repeat center center;
}

#bas{
	background: url("../images/bas_gris.png") no-repeat center center;
	top:97%;
}

#bas:hover{
	background: url("../images/bas_blanc.png") no-repeat center center;
}


#up{
	top:97%;
	cursor:pointer;
	background: url("../images/rond-up-blanc.png") no-repeat center center;
}

.icone_dir{
	z-index:5;
	width: 50px;
	height: 50px;
	cursor:pointer;
}

.floor-2 #left, .floor-2 #top, .floor-2 #bas{
	display:none;
}

.floor-4 #top{
	background: url("../images/haut_blanc.png") no-repeat center center;
}

.floor-4 #bas{
	background: url("../images/bas_blanc.png") no-repeat center center;
}


/*STYLE COLORS BY SEASONS*/
#output1 { width:25%; height:100%; position:absolute; top:0; left:0; }
#output2 { width:25%; height:100%; position:absolute; top:0; left:25%; }
#output3 { width:25%; height:100%; position:absolute; top:0; left:50%; }
#output4 { width:25%; height:100%; position:absolute; top:0; left:75%; }
.slice { width:100%; list-style:none; }

/*STYLE COLORS BY SERIES*/
#colorsbyseries{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100vw;
}

.flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d; 
	-ms-transform-style: preserve-3d; 
    margin:0px 0px 0px 0px;
    padding:0;
    float:right;
 }

	
.flip-container:hover .back, .flip-container.hover .back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
		

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 0.6s;
	-moz-transition: 0.6s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	-ms-transition: 0.6s;
	-ms-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	background: lightgreen;
	z-index: 2;
}

.back {
	background: lightblue;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.front h1{
	color: #fff;
	position: relative;
	z-index: 2;
	text-transform:uppercase;
	top: 45%;
	text-align: center;
}

.nuancier{
	height: calc(100% / 9);
	margin: 0;
	padding: 0;
}

.nuancier span{
	color: rgba(255, 255, 255, 0.6);
    display: block;
    text-align: center;
}

/* Mobile first queries */

/*mobile */
@media (min-width: 0px) {
	#devant{
		font-size: 4em;
	}

	#derriere{
		font-size: 4.1em;
	}

	#formeleft{
	width:120px;
	height:100%;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 0;
	z-index: 6;
	opacity:0.8;
	}

	#formeleft:hover{
		width: 0; height: 0; border-bottom: 100vh solid #1d70b7; border-right: 120px solid transparent;
	}

	#formeright{
		width:120px;
		height:100%;
		cursor: pointer;
		display: block;
		position: absolute;
		right:0;
		z-index: 6;
		opacity:0.8;
	}

	#formeright:hover{
		width: 0; height: 0; border-top: 100vh solid #39a935; border-left: 120px solid transparent;
	}

	#formebottom{
		width:100%;
		height:120px;
		cursor: pointer;
		display: block;
		position: absolute;
		bottom:0;
		z-index: 6;
		opacity:0.8;

	}

	#formebottom:hover{
		width: 0; height: 0; border-bottom: 120px solid #e95a0c; border-left: 100vw solid transparent;
		max-width: 100%;
	}


	.title{
		font-size:40px;
		display: none;
		margin-top: 0.5vh;
	}

	.subtitle{
		font-size:12px;
		display: none;
		color: #fff;
		width: 100px;
	}

  	#cbs-sub{
		position: fixed;
		left: 1%;
		bottom:1%;
		}
	#cbsea-sub{
		position: fixed;
		right: 0%;
		top:1%;
	}
	#cbh-sub{
		position: fixed;
		left: 62%;
		bottom:1%;
	}

	/*Largeur & hauteur de la card*/
	.flip-container, .front, .back {
	width:calc(100vw / 6);
	height: 50vh;
}
	/*taille typo card*/
	.front h1{
	font-size:10px;
}
	.nuancier span{
		line-height: 5vh;
		font-size: 12px;
	}
}
/* Larger than mobile */
@media (min-width: 400px) {
.mfp-container {
  left: 5%;
  }
}
/* Larger than phablet */
@media (min-width: 550px) {
	#devant{
		font-size: 6em;
	}

	#derriere{
		font-size: 6.1em;
	}
	.mfp-container {
  left: 15%;
  }

  #formeleft{
	width:120px;
	height:100%;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 0;
	z-index: 6;
	opacity:0.8;
	}

	#formeleft:hover{
		width: 0; height: 0; border-bottom: 100vh solid #1d70b7; border-right: 120px solid transparent;
	}

	#formeright{
		width:120px;
		height:100%;
		cursor: pointer;
		display: block;
		position: absolute;
		right:0;
		z-index: 6;
		opacity:0.8;
	}

	#formeright:hover{
		width: 0; height: 0; border-top: 100vh solid #39a935; border-left: 120px solid transparent;
	}

	#formebottom{
		width:100%;
		height:120px;
		cursor: pointer;
		display: block;
		position: absolute;
		bottom:0;
		z-index: 6;
		opacity:0.8;

	}

	#formebottom:hover{
		width: 0; height: 0; border-bottom: 120px solid #e95a0c; border-left: 100vw solid transparent;
		max-width: 100%;
	}


	.title{
		font-size:40px;
		display: none;
		margin-top: 0.5vh;
	}

	.subtitle{
		font-size:12px;
		display: none;
		color: #fff;
		width: 100px;
	}

  	#cbs-sub{
		position: fixed;
		left: 1%;
		bottom:1%;
		}
	#cbsea-sub{
		position: fixed;
		right: 0%;
		top:1%;
	}
	#cbh-sub{
		position: fixed;
		left: 62%;
		bottom:1%;
	}

	/*Largeur & hauteur de la card*/
	.flip-container, .front, .back {
	width:calc(100vw / 12);
	height: 100vh;
	}
	/*taille typo card*/
	.front h1{
	font-size:9px;
	}
	.nuancier span{
		line-height: 11vh;
		font-size: 9px;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {
	#devant{
		font-size: 8em;
	}

	#derriere{
		font-size: 8.2em;
	}


	#formeleft{
	width:150px;
	height:100%;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 0;
	z-index: 6;
	opacity:0.8;
	}

	#formeleft:hover{
		width: 0; height: 0; border-bottom: 100vh solid #1d70b7; border-right: 150px solid transparent;
	}

	#formeright{
		width:150px;
		height:100%;
		cursor: pointer;
		display: block;
		position: absolute;
		right:0;
		z-index: 6;
		opacity:0.8;
	}

	#formeright:hover{
		width: 0; height: 0; border-top: 100vh solid #39a935; border-left: 150px solid transparent;
	}

	#formebottom{
		width:100%;
		height:150px;
		cursor: pointer;
		display: block;
		position: absolute;
		bottom:0;
		z-index: 6;
		opacity:0.8;

	}

	#formebottom:hover{
		width: 0; height: 0; border-bottom: 150px solid #e95a0c; border-left: 100vw solid transparent;
		max-width: 100%;
	}


	.title{
		font-size:60px;
		display: none;
		margin-top: 0.5vh;
	}

	.subtitle{
		font-size:12px;
		display: none;
		color: #fff;
		width: 130px;
	}

	#cbs-sub{
		position: fixed;
		left: 1%;
		bottom:1%;
		}
	#cbsea-sub{
		position: fixed;
		right: 0%;
		top:1%;
	}
	#cbh-sub{
		position: fixed;
		left: 62%;
		bottom:1%;
	}
	.nuancier span{
		line-height: 11vh;
		font-size: 14px;
	}

}

/* Larger than desktop */
@media (min-width: 1000px) {
	#devant{
		font-size: 12em;
	}

	#derriere{
		font-size: 12.2em;
	}	

	#formeleft{
	width:200px;
	height:100%;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 0;
	z-index: 6;
	opacity:0.8;
	}

	#formeleft:hover{
		width: 0; height: 0; border-bottom: 100vh solid #1d70b7; border-right: 200px solid transparent;
	}

	#formeright{
		width:200px;
		height:100%;
		cursor: pointer;
		display: block;
		position: absolute;
		right:0;
		z-index: 6;
		opacity:0.8;
	}

	#formeright:hover{
		width: 0; height: 0; border-top: 100vh solid #39a935; border-left: 200px solid transparent;
	}

	#formebottom{
		width:100%;
		height:200px;
		cursor: pointer;
		display: block;
		position: absolute;
		bottom:0;
		z-index: 6;
		opacity:0.8;

	}

	#formebottom:hover{
		width: 0; height: 0; border-bottom: 200px solid #e95a0c; border-left: 100vw solid transparent;
		max-width: 100%;
	}


	.title{
		font-size:80px;
		display: none;
		margin-top: 0.5vh;
	}

	.subtitle{
		font-size:16px;
		display: none;
		color: #fff;
		width: 150px;
	}

	#cbs-sub{
	position: fixed;
	left: 2%;
	bottom:2%;
	}
	#cbsea-sub{
		position: fixed;
		right: 1%;
		top:3%;
	}
	#cbh-sub{
		position: fixed;
		left: 60%;
		bottom:2%;
	}

	.front h1{
	font-size:13px;
	}
	.nuancier span{
		line-height: 11vh;
		font-size: 16px;
	}

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	#devant{
		font-size: 14em;
	}

	#derriere{
		font-size: 14.4em;
	}	
	#formeleft{
	width:300px;
	height:100%;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 0;
	z-index: 6;
	opacity:0.8;
	}

	#formeleft:hover{
		width: 0; height: 0; border-bottom: 100vh solid #1d70b7; border-right: 400px solid transparent;
	}

	#formeright{
		width:300px;
		height:100%;
		cursor: pointer;
		display: block;
		position: absolute;
		right:0;
		z-index: 6;
		opacity:0.8;
	}

	#formeright:hover{
		width: 0; height: 0; border-top: 100vh solid #39a935; border-left: 400px solid transparent;
	}

	#formebottom{
		width:100%;
		height:300px;
		cursor: pointer;
		display: block;
		position: absolute;
		bottom:0;
		z-index: 6;
		opacity:0.8;

	}

	#formebottom:hover{
		width: 0; height: 0; border-bottom: 400px solid #e95a0c; border-left: 100vw solid transparent;
		max-width: 100%;
	}

	.title{
		font-size:100px;
		display: none;
		margin-top: 0.5vh;
	}

	.subtitle{
		font-size:20px;
		display: none;
		color: #fff;
		width: 250px;
	}

	.front h1{
	font-size:16px;
	}

}
@media (min-width: 1600px) {
	.front h1{
	font-size:20px;
	}
}

/*TEST MODAL*/
#mother_modal{
	text-align:center;
	position: relative;
}

.my_popup_open{
	border: none;
	background-color: transparent;
	color: #b3b2b2;
	font-size: 1em;
	position: relative;
	float: left;
	left:47vw;
	top:2vh;
}

.my_popup_open:hover{
	color: #949494;
}

.help{
	margin-right: 0.5%;
}

.about{
}

.titre-page{
	border: none;
	background-color: transparent;
	color: #fff;
	font-size: 3em;
	left:75%;
	top: 18px;
	position: absolute;	
	cursor:default;
}

a {
	color:#b3b2b2;
	opacity:0.5;
	text-decoration: none;
}

p a {
	color:#fff;
	opacity:0.5;
	text-decoration: none;
}

a:hover {
	color:#949494;
}

.popup-modal-dismiss {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
	width: 40px;
	height: 40px;
	top:20px;
	right: 20px;
	position: fixed;
	overflow: hidden;
	border: none;
	background: url(../images/icones-croix-blanc.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
	opacity: 1;
}

.popup-modal-dismiss:hover{
	background: url(../images/icones-croix-gris.png) no-repeat center center;
	opacity: 1;
}

.share { display: inline-block; text-indent: -999em;height:40px; width:40px; text-decoration: none; padding:2px; vertical-align:middle; }

.facebook {
	background: url(../images/share-facebook.png) no-repeat scroll 0% 0% transparent;
	z-index: 100;
}

.facebook:hover {
	background: url(../images/share-facebook-hover.png) no-repeat scroll 0% 0% transparent;
}

.twitter {
	background: url(../images/share-twitter.png) no-repeat scroll 0% 0% transparent;
	z-index: 100;
}

.twitter:hover {
	background: url(../images/share-twitter-hover.png) no-repeat scroll 0% 0% transparent;
}

#test-modal1, #test-modal2{
	color:#fff;
	max-width: 600px;
}

#or{
	margin: 5px;
}
/*
#test{
	width:100%;
	height:100%;
}

#test img{
	opacity: 0;
}*/

#infos_seasons{
	width:100%;
	position: absolute;
	color: #fff;
	bottom: 20px;
	text-align: center;
}

.info_season{
	width:25%;
	float: left;
}